<%if object.instance_of? ActionDispatch::Flash::FlashHash%>
  <div id="error_explanation" class="col-md-6 col-md-offset-4">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.count, "error") %>.
    </div>
    <ul>
    <% object.each do |type, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

<% elsif object.errors.any? %>
  <div id="error_explanation" class="col-md-6 col-md-offset-4">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  
<% end %>

