<button type="button" class="btn btn-default back-button" aria-label="Left Align">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</button>

<h1> <strong> The Fundamental Growth Plan (FGP) </strong> </h1> 
<h4> Summer 2016 - Workout Guide (made to print)</h4>
<hr>

<div class="row">
	<div class="open-description col-md-5 col-md-offset-4">
	<p> Split: 5-day </p>
	<p>Volume: Medium-high </p>
	<p>Sets: 2 per exercise</p>
	<p>Reps: 7-11</p>
	<p>Rest: 1 minute between each set</p>
	<p>Running Breakdown, at least 4 days a week:</p>
	<table border="1" class="sprints">
		<tr>
			<td> Week </td>
				<% (1..12).each do |n| %>
					<td> <%= n %> </td>
				<% end %> 
		</tr>

		<tr>
			<td> Miles </td>
			<td> 1.5 </td>
			<td> 2.5 </td>
			<td> 3 </td>
			<td> 3 </td>
			<td> 3.2 </td>
			<td> 3.5 </td>
			<td> 4   </td>
			<td> 4 </td>
			<td> 4 </td>
			<td> 4.5 </td>
			<td> 5 </td>
			<td> 5.3 </td>
		</tr>
	</table>
	</div>
</div>



<br><br>
<div class="row">
		<div class="open-description col-md-5 col-md-offset-4">
		<h3><strong> Monday: Chest/Calves </strong></h3> <br>
			<table border="1" class="workout-day">
				<tr>
					<td> Exercise</td>
					<td> Set #1</td>
					<td> Set #2</td>
				</tr>
				<tr>
					<td> Flat dumbbell press - 7-11 reps </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td> Dips - 7-11 reps </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Hammer strength incline press - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Dumbbell pullovers - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Decline Barbell press - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
						<tr>
					<td> Cable flyes - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Machine flyes - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Machine calf raises - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Seated Calf raises - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Dumbbell calf raises - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>
	</div>
</div>


<br><br>
<div class="row">
		<div class="open-description col-md-5 col-md-offset-4">
		<h3><strong> Tuesday (every other week): Back </strong></h3> <br>
			<table border="1" class="workout-day">
				<tr>
					<td> Exercise</td>
					<td> Set #1</td>
					<td> Set #2</td>
				</tr>
				<tr>
					<td>  Deadlifts - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Cable pulldowns - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  T-bar rows - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> EZ bar pullovers - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Close grip Rows - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>
						<tr>
					<td>  Machine pulldowns - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> One arm dumbbell rows - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td>  Hypextensions - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Seated cable row - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

			</table>
	</div>
</div>


<br><br>
<div class="row">
		<div class="open-description col-md-5 col-md-offset-4">
		<h3><strong> Wednesday: Quads/Hams </strong></h3> <br>
			<table border="1" class="workout-day">
				<tr>
					<td> Exercise</td>
					<td> Set #1</td>
					<td> Set #2</td>
				</tr>
				<tr>
					<td> Front Squats - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Leg Press - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Leg Extensions - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>  Dumbbell step ups - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Lunges - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
						<tr>
					<td> Abductions - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td>  Standing leg curls - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td>Barbell stiff-legged deadlifts - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td>  Lying leg curls - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>
	</div>
</div>


<br><br>
<div class="row">
		<div class="open-description col-md-5 col-md-offset-4">
		<h3><strong> Thursday: Delts/Traps </strong></h3> <br>
			<table border="1" class="workout-day">
				<tr>
					<td> Exercise</td>
					<td> Set #1</td>
					<td> Set #2</td>
				</tr>
				<tr>
					<td> Seated overhead dumbbell press - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td> Machine press - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Dumbbell side-laterals - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Cable bent-over laterals - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Barbell upright rows - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
						<tr>
					<td> Cable row to the neck - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td>  Dumbbell shrugs - 7-11 reps </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Behind the back barbell shrugs - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>
	</div>
</div>

<br><br>
<h3><strong> FRIDAY: OFF </strong></h3>

<br><br>
<div class="row">
		<div class="open-description col-md-5 col-md-offset-4">
		<h3><strong> Saturday: Biceps/Triceps/Forearms</strong></h3> <br>
			<table border="1" class="workout-day">
				<tr>
					<td> Exercise</td>
					<td> Set #1</td>
					<td> Set #2</td>
				</tr>
				<tr>
					<td> Dumbbell curls - 7-11 reps  </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td> Lying tricep extensions - 7-11 reps </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Dumbbell preacher curl - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>  V bar tricep pressdowns - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>  Incline curls - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
						<tr>
					<td> Overhead dumbbell extensions - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Dumbbell wrist curl - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td> Dumbbell wrist extensions - 7-11 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>
	</div>
</div>

<br><br>
<div class="row">
		<div class="open-description col-md-5 col-md-offset-4">
		<h3><strong> Sunday: Abs/Cardio</strong></h3> <br>
			<table border="1" class="workout-day">
				<tr>
					<td> Exercise</td>
					<td> Set #1</td>
					<td> Set #2</td>
				</tr>
				<tr>
					<td>  The Morgan Howell Fantastic  - 50 reps (each) </td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td> Planks - 2 minutes</td>
					<td> </td>
					<td></td>
				</tr>
						<tr>
					<td>  Hanging Leg Raises - 12-15 reps  </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Weighted Cable Crunch - 7-11 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td> Russian Twists - 15-20 reps   </td>
					<td> </td>
					<td> </td>
				</tr>
						<tr>
					<td>Swimming can count for running mileage today (optional) </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>
	</div>
</div>

<br><br>
<h3><strong> *It’s permitted to use OFF days for running </strong></h3>
