<header>
    <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" ></span>
            </button>
            <a class="navbar-brand hidden-xs hidden-sm" href="/"><span class="icon icon-shield" ></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <a href="/#headerwrap" class="smoothScroll">Home</a></li>
            <li> <a href="/#bio" class="smoothScroll">Bio</a></li>
            <li> <a href="/#portfolio" class="smoothScroll">Portfolio</a></li>
            <li> <a href="/#contact" class="smoothScroll">Contact</a></li>
            <li id="divider-nav"> <a> | </a> </li>
            <li id="blog-nav"> <a href="/blog"> Blog </a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

</header>